@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
body {
  color: #9E9AA8;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #9E9AA8;
}