@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
body {
  color: #9E9AA8;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #9E9AA8;
}

.container {
  padding: 0 10rem;
  display: flex;
  flex-wrap: wrap;
  flex: auto;
  justify-content: inherit;
}

@media screen and (max-width: 1296px) {
  .container {
    padding: 0 1.5rem;
    flex-direction: inherit;
  }
}

@media screen and (max-width: 800px) {
  .container {
    text-align: center;
    justify-content: center;
  }
}